
.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.logo2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    z-index: 1;
}
.logo3 {
    position: absolute;
    top: 60%;
    left: 10%;
    width: 26%;
    height: 12%;
    z-index: 1;
    animation: slideInFromLeft 1s ease-out forwards;
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
.logo4 {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 30%;
    height: 24%;
    z-index: 1;
    animation: slideInFromLeft 1s ease-out forwards;
}
.logo5 {
    position: absolute;
    top: 22%;
    right: 5%;
    width: 30%;
    height: 14%;
    z-index: 1;
   
}   
.logo6 {
    position: absolute;
    top: 38%;
    right: 21.8%;
    width: 13%;
    height: 2%;
    z-index: 1;
}
.logo7 {
    position: absolute;
    top: 76%;
    right: 11.6%;
    width: 11%;
    height: 8%;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}
.logo7:hover {
    transform: scale(1.04);

}
.logo8 {
    position: absolute;
    top:76%;
    right: 24.7%;
    width: 10%;
    height: 8%;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}
.logo8:hover {
    transform: scale(1.04);
}
.logo9 {
    position: absolute;
    top: 72%;
    right: 22%;
    width: 13%;
    height: 2%;
    z-index: 1;
}
.logo10 {
    position: absolute;
    top: 42%;
    right: 11.6%;
    width: 23%;
    height: 5.5%;
    z-index: 1;
}
.logo11 {
    position: absolute;
    top: 51%;
    right: 11.6%;
    width: 23%;
    height: 5.5%;
    z-index: 1;
}
.logo12 {
    position: absolute;
    top: 60%;
    right: 11.6%;
    width: 23%;
    height: 5.5%;
    z-index: 1;
}
.inputBox {
    position: absolute;
    top:44.2%;
    right:11.6%;
    width: 360px;
    display: block;
    visibility: visible;
    z-index: 1;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #633b8e;
    border-radius: 5px;
    color: #000; 
    font-size: 16px;
    outline: none;
    z-index: 1;
}

.inputBox span {
    position: absolute;
    left: 10px;
    top: 10px; 
    color: #a286c1;
    font-size: 1em;
    pointer-events: none;
    transition: 0.3s ease all;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    top: 10px; 
    color: #633b8e;
    font-size: 0.65em;
    transform: translateX(10px) translateY(-14px);
    padding: 0 10px;
    background: #ffffff;
    border-left: 1px solid #633b8e;
    border-right: 1px solid #633b8e;
}

.inputBox input:valid,
.inputBox input:focus {
    border-color: #633b8e;
}
.inputBox1 {
    position: absolute;
    top:54%;
    right:11.6%;
    width: 360px;
    display: block;
    visibility: visible;
    z-index: 1;
}

.inputBox1 input {
    width: 100%;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #633b8e;
    border-radius: 5px;
    color: #000; 
    font-size: 16px;
    outline: none;
    z-index: 1;
}

.inputBox1 span {
    position: absolute;
    left: 10px;
    top: 10px; 
    color: #a286c1;
    font-size: 1em;
    pointer-events: none;
    transition: 0.3s ease all;
}

.inputBox1 input:valid ~ span,
.inputBox1 input:focus ~ span {
    top: 10px;
    color: #633b8e;
    font-size: 0.65em;
    transform: translateX(10px) translateY(-14px);
    padding: 0 10px;
    background: #ffffff;
    border-left: 1px solid #633b8e;
    border-right: 1px solid #633b8e;
}

.inputBox1 input:valid,
.inputBox1 input:focus {
    border-color: #633b8e;
}

.inputBox0 {
    position: absolute;
    top:63.8%;
    right:11.6%;
    width: 360px;
    display: block;
    visibility: visible;
    z-index: 1;
}

.inputBox0 input {
    width: 100%;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #633b8e;
    border-radius: 5px;
    color: #000; 
    font-size: 16px;
    outline: none;
    z-index: 1;
}

.inputBox0 span {
    position: absolute;
    left: 10px;
    top: 10px; 
    color: #a286c1;
    font-size: 1em;
    pointer-events: none;
    transition: 0.3s ease all;
}

.inputBox0 input:valid ~ span,
.inputBox0 input:focus ~ span {
    top: 10px; 
    color: #633b8e;
    font-size: 0.65em;
    transform: translateX(10px) translateY(-14px);
    padding: 0 10px;
    background: #ffffff;
    border-left: 1px solid #633b8e;
    border-right: 1px solid #633b8e;
}

.inputBox1 input:valid,
.inputBox1 input:focus {
    border-color: #633b8e;
}